<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183338434264-1k8suu3cm6rr74nb2t126g26fe8jqjjp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183338434264-1k8suu3cm6rr74nb2t126g26fe8jqjjp</string>
	<key>API_KEY</key>
	<string>AIzaSyDttCxxs_98wKiR8dKzj6nXhPfOqW3e7YM</string>
	<key>GCM_SENDER_ID</key>
	<string>183338434264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AtsumiAmaya.Spoty-Fake-AAmaya</string>
	<key>PROJECT_ID</key>
	<string>spoty-fake</string>
	<key>STORAGE_BUCKET</key>
	<string>spoty-fake.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183338434264:ios:9b5340408ae731d0b5a1ad</string>
</dict>
</plist>